/* dd container */
.dropdown {
  display: flex;
  flex-direction: row;
  position: relative;
  outline: none;
  background-color: #ebebf0;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  height: 36px;
  width: 130px;
  border-radius: 10px;
}

/* button */
.dropbtn {
  color: white;
  cursor: pointer;
  transition: 0.08s ease-out;
}

/* dd content */
.dropdown-content {
  position: absolute;
  right: 2%;
  top: 50%;
  background-color: #f7f7f7;
  min-width: 98%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.08s ease-out;
}

.dropdown-content > * {
  color: black;
  padding: 12px 12px;
  display: block;
  text-decoration: none;
  transition: 0.08s ease-out;
}

.dropdown-content > *:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

/* show dd content */
.dropdown:focus .dropdown-content {
  outline: none;
  transform: translateY(10px);
  visibility: visible;
  opacity: 1;
}


/* mask to close menu by clickinsg on the button */
.dropdown .db2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}
.dropdown:focus .db2 {
  display: inline-block;
}
.dropdown .db2:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}
