.bit-components-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.bit-components-list-divider {
    width: 98%;
    border-bottom: 1px solid #8D8FAC;
}