:root {
    --main-list-item-container-border: 1px solid #cfcfda;
    --main-list-item-container-border-selected: 1px solid #4e75f6;
  }

.bit-root-list-item-container {
    display: flex;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--main-list-item-container-border);
    border-top: var(--main-list-item-container-border);
    height: 60px;
    padding: 5px;
}

.bit-root-list-item-container.selected {
    border: var(--main-list-item-container-border-selected);
    border-radius: 10px;
    box-shadow: 0px, 2px, 10px, 0px, rgba(23, 23, 70, 0.16);
  }
  

.bit-root-list-item-divider {
    width: 5px;
    height: 40px;
    border-right: 1px solid #CFCFDA;
    padding-right: 3px;
}

