:root {
  --main-list-item-container-border: 1px solid #cfcfda;
  --main-list-item-container-border-selected: 2px solid #4e75f6;
}

.main-list-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--main-list-item-container-border);
  border-top: var(--main-list-item-container-border);
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-list-item-container.selected {
  border: var(--main-list-item-container-border-selected);
  border-radius: 10px;
  box-shadow: 0px, 2px, 10px, 0px, rgba(23, 23, 70, 0.16);
}

.main-list-left-item-container {
  border-right: var(--main-list-item-container-border);
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.main-list-right-item-container {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.main-list-right-item-divider {
  border-top: var(--main-list-item-container-border);
  width: 153px;
}
