.traffic-lights-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-traffic {
  margin-left: 3px;
}


.trafficLights-circle{
  background-color:red;
  border:2px solid black;    
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.trafficLights-circle.small {
  height:16px;
  width:16px;
}

.trafficLights-circle.medium {
  height:18px;
  width:18px;
}

.trafficLights-circle.large {
  height:20px;
  width:20px;
}